@inject IAuthService AuthService
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
         @(context.User.Identity?.Name ?? context.User.FindFirst("unique_name")?.Value)
        <button class="nav-link btn btn-link" @onclick="LogoutAsync">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task LogoutAsync()
    {
        await AuthService.LogoutAsync();
        Navigation.NavigateTo("/login", true);
    }
}
