@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu Brand="@Brand" />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/" style="margin: unset;" target="_blank">
                <img src="favicon.png" class="brand-icon" alt="Brand Icon" />
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [CascadingParameter(Name = "AppBrand")]
    public string? AppBrand { get; set; }

    private string Brand => string.IsNullOrWhiteSpace(AppBrand) ? "FFL" : AppBrand;
}
