.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background-color: #e1e1e1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
    display: block;
    text-align: center;
}

.top-row ::deep a,
.top-row ::deep .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row ::deep a:hover,
.top-row ::deep .btn-link:hover {
    text-decoration: underline;
}

.top-row ::deep a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.brand-icon {
    width: 85px;
    height: 85px;
    margin: unset;
}

.sidebar {
    background-image: linear-gradient(180deg, var(--sidebar-top) 0%, var(--sidebar-bottom) 70%);
}

::deep h1 {
  font-family: "F1";
  font-size: 2rem;
  color: #333;
}

@font-face {
  font-family: "F1";
  src: url("/_content/Shared/Fonts/Lato-Black.ttf") format('truetype');
}

@font-face {
  font-family: "F2";
  src: url("/_content/Shared/Fonts/Lato-BlackItalic.ttf") format('truetype');
}

@font-face {
  font-family: "F3";
  src: url("/_content/Shared/Fonts/CartoonCheck-Black.ttf") format('truetype');
}

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a,
    .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row,
    article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
