.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-nav {
    position: sticky;
    top: 0;
    z-index: 1030;
}

main {
    flex: 1;
    background-color: #e1e1e1;
}

.content {
    padding-top: 1rem;
}

::deep h1 {
  font-family: "F1";
  font-size: 2rem;
  color: #333;
}

@font-face {
  font-family: "F1";
  src: url("/_content/Shared/Fonts/Lato-Black.ttf") format('truetype');
}

@font-face {
  font-family: "F2";
  src: url("/_content/Shared/Fonts/Lato-BlackItalic.ttf") format('truetype');
}

@font-face {
  font-family: "F3";
  src: url("/_content/Shared/Fonts/CartoonCheck-Black.ttf") format('truetype');
}

@media (max-width: 640.98px) {
    .content {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

@media (min-width: 641px) {
    .content {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
