@using Microsoft.JSInterop
@inject IJSRuntime IJSRuntime

<script src="js/navmenu.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark top-navbar">
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="/" Match="NavLinkMatch.All" style="margin-right: 1.5rem;">
            <img src="favicon.png" class="brand-icon" alt="Brand Icon" />
            @Brand
        </NavLink>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" @onclick="ToggleNavMenu" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        History
                    </a>
                    <ul class="dropdown-menu">
                        <li><NavLink class="dropdown-item-nav-menu dropdown-item" @onclick="ToggleNavMenu" href="history/current-season">Current Season</NavLink></li>
                        <li><NavLink class="dropdown-item-nav-menu dropdown-item" @onclick="ToggleNavMenu" href="history/drafts">Drafts</NavLink></li>
                        <li><NavLink class="dropdown-item-nav-menu dropdown-item" @onclick="ToggleNavMenu" href="history/champs">League Champs</NavLink></li>
                        <li><NavLink class="dropdown-item-nav-menu dropdown-item" @onclick="ToggleNavMenu" href="history/matchups">Matchups</NavLink></li>
                        <li><NavLink class="dropdown-item-nav-menu dropdown-item" @onclick="ToggleNavMenu" href="history/stats">Stats</NavLink></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" @onclick="ToggleNavMenu" href="rosters">Rosters</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" @onclick="ToggleNavMenu" href="trades">Trades</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" @onclick="ToggleNavMenu" href="rankings">Power Rankings</NavLink>
                </li>
            </ul>

            @if (ChildContent is not null)
            {
                <div class="d-flex align-items-center gap-2">
                    @ChildContent
                </div>
            }
        </div>
    </div>
</nav>

@code {
    [Inject] private IJSRuntime JS { get; set; } = default!;

    [Parameter] public string Brand { get; set; } = "FFL";
    [Parameter] public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Close nav menu when clicking on a page
    /// </summary>
    /// <returns></returns>
    private async Task ToggleNavMenu() {
        
        var isMobile = await JS.InvokeAsync<bool>("isNavbarTogglerVisible");
        if (!isMobile) return;

        await JS.InvokeVoidAsync("collapseNavbar", "#mainNavbar");
    }
}
