.player-image {
    margin-right: .5rem;
}

img.owner-avatar {
    max-width: 2.5rem;
}

.fs-5.fw-semibold {
    font-family: 'F1';
}

.text-muted {
    color: rgb(178 135 25 / 92%) !important;
}

.card.h-100.shadow-sm.w-100.text-center {
    color: #d6d6d6;
}

.common-container {
    background: var(--dark-background-alt) !important;
}