@page "/"
@using Shared.Models
@using Shared.Services
@inject RosterState RosterState 
@inject UserState UserState
@inject LeagueState LeagueState

<PageTitle>Home | @Brand</PageTitle>

<div class="d-flex justify-content-center">
    <div class="brand-container">
        <h1>@Brand</h1>
    </div>  
</div>

@if (_isLoading)
{
    <div class="d-flex justify-content-center">
        <Spinner Type="SpinnerType.Dots" Class="me-3" Color="SpinnerColor.Primary" Size="SpinnerSize.Large" />
    </div>
}
else
{
    <div class="welcome-container">
        <p class="welcome-text">
            Welcome to the @Brand.ToString().Replace("FFL", "") dynasty fantasy football league, founded in the summer of 2020. 
            This league is comprised of 10 members who dream of bringing home a jersey of their choice, each and every year. 
            However, some owners' dreams are just that, dreams. At the conclusion of the season, the champion is given the 
            opportunity to select our new destination to draft rookies that will almost certainly become future waiver additions 
            for someone else. Luck? Skill? Who cares. The only thing that matters is: Don't. Finish. Last.
        </p>
    </div>  
    <div class="d-flex justify-content-center">
        <div class="teams-container gap-2 justify-content-center">
            @foreach (var roster in _rosters)
            {
                @if (!string.IsNullOrWhiteSpace(roster.OwnerId))
                {
                    <button type="button" class="btn btn-outline-secondary common-container border-3">
                        <img class="owner-avatar" src=@(UserState.OwnerAvatarByUserId.TryGetValue(roster.OwnerId, out var name) ? name : $"Roster {roster.OwnerId}")>
                        <span class="team-name">@(UserState.TeamNameByUserId.TryGetValue(roster.OwnerId, out var teamName) ? teamName : $"Team Not Found")</span>
                    </button>
                }
            }
        </div>
    </div>
}



@code {
    [CascadingParameter(Name = "AppBrand")]
    public string? AppBrand { get; set; }
    private bool _isLoading = true;

    private string Brand => string.IsNullOrWhiteSpace(AppBrand) ? "FFL" : AppBrand;
    private List<RostersModel> _rosters = new List<RostersModel>();

    protected override async Task OnInitializedAsync()
    {
        await RosterState.EnsureLoadedAsync();
        await UserState.EnsureLoadedAsync();

        _rosters = RosterState.Rosters ?? [];
        _isLoading = false;
    }

}
