.welcome-text{
    font-family: "F2";
    margin-top: 1rem;
    width: 70%;
    text-align: center;
}

.welcome-container, .brand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.teams-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
}

.team-name {
    font-family: "F1";
    display: block;
}

button.btn.btn-outline-secondary {
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
    height: -webkit-fill-available;
    color: inherit;
    width: 12rem;
    height: 7rem;
    font-size: .9rem;
}

.owner-avatar {
    max-width: 2.5rem;
}