@page "/"
@using Shared.Models
@using Shared.Services
@inject RosterState RosterState 
@inject UserState UserState

<PageTitle>Home</PageTitle>

<div class="brand-container">
    <h1>@Brand</h1>
</div>

<div class="welcome-container">
    <p class="welcome-text">
        Welcome to the @Brand.ToString().Replace("FFL", "") dynasty fantasy football league, founded in the summer of 2020. 
        This league is comprised of 10 members who dream of bringing home a jersey of their choice, each and every year. 
        However, some owners' dreams are just that, dreams. At the conclusion of the season, the champion is given the 
        opportunity to select our new destination to draft rookies that will almost certainly become future waiver additions 
        for someone else. Luck? Skill? Who cares. The only thing that matters is: Don't. Finish. Last.
    </p>
</div>  
<div class="teams-container">
    @foreach (var item in _rosters!)
    {
        @if (!string.IsNullOrWhiteSpace(item.OwnerId))
        {
            <button type="button" class="btn btn-outline-secondary">
            <img class="owner-avatar" src=@UserState.GetOwnerAvatarImage(item.OwnerId).Result>
            <span class="team-name">@UserState.GetTeamNameByUserId(item.OwnerId).Result</span>
            </button>
        }
    }
</div>


@code {
    [CascadingParameter(Name = "AppBrand")]
    public string? AppBrand { get; set; }

    private string Brand => string.IsNullOrWhiteSpace(AppBrand) ? "FFL" : AppBrand;
    private List<RostersModel>? _rosters = new List<RostersModel>();

    protected override async Task OnInitializedAsync()
    {
        _rosters = RosterState.Rosters;
    }

}
