@page "/"

<PageTitle>Home</PageTitle>

<div class="brand-container">
    <span class="brand-title">@Brand</span>
</div>

<div class="welcome-container">
    <p class="welcome-text">
        Welcome to the Crush Cities dynasty fantasy football league, founded in the summer of 2020. 
        This league is comprised of 10 members who dream of bringing home a jersey of their choice, each and every year. 
        However, some owners' dreams are just that, dreams. At the conclusion of the season, the champion is given the 
        opportunity to select our new destination to draft rookies that will almost certainly become future waiver additions 
        for someone else. Luck? Skill? Who cares. The only thing that matters is: Don't. Finish. Last.
    </p>
</div>  


@code {
    [CascadingParameter(Name = "AppBrand")]
    public string? AppBrand { get; set; }

    private string Brand => string.IsNullOrWhiteSpace(AppBrand) ? "FFL" : AppBrand;
}
