@page "/rankings"

<PageTitle>Power Rankings | @Brand</PageTitle>

<div class="d-flex justify-content-center">
    <h1>Power Rankings</h1> 
</div>
<div class="d-flex justify-content-center">
    <div>Coming soon...</div>
</div>



@code {
    [CascadingParameter(Name = "AppBrand")]
    private string? AppBrand { get; set; }
    private string Brand => string.IsNullOrWhiteSpace(AppBrand) ? "FFL" : AppBrand;

}
