@page "/rosters"
@using Shared.Models
@using Shared.Services
@inject RosterState RosterState

@if (!RosterState.IsLoaded)
{
    <p>Loading rosters...</p>
}
else
{
    @foreach (var roster in RosterState.Rosters)
    {
        <p>Owner: @roster.OwnerId</p>
    }
}

@code {
    protected override async Task OnInitializedAsync()
    {
        if (!RosterState.IsLoaded)
        {
            await RosterState.SetRosters("1186493407559684096", true);
        }
    }
}