.roster-container {
    width: 30rem;
    margin-top: 2rem;
}

.rosters-page-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px auto 20px;
    width: 95%;
}

.player-container {
    margin-bottom: .5rem;
    display: grid;
    grid-template-columns: 2.5rem auto 2rem;
    grid-template-rows: auto;
    padding: .2rem;
    border-radius: .5rem;
    border-radius: 2rem;
    border: 1px solid var(--border-gray);
    position: relative;
}

.player-details {
    font-size: .7rem;
    grid-row: 3;
    grid-column: 2 / 3;
    display: flex;
    column-gap: .4rem;
    margin-left: 2.5rem;
}

.player-name-container {
    grid-column: 2;
    grid-row: 2/3;
    display: flex;
    white-space: nowrap;
    font-family: "F1";
    column-gap: .2rem;
    margin-left: 2.5rem;
}

.player-nickname {
    font-size: .6rem;
    font-family: "F2";   
    color: rgb(37, 37, 37);
    grid-row: 4;
    grid-column: 2 / 4;
    height: .75rem;
    margin-left: 2.5rem;
}

.player-image {
    position: unset;
}

.player-image-container {
    grid-row: 2 / 4;
    grid-column: 2;
    display: flex;
    align-items: anchor-center;
    margin-left: .3rem;
}

.accordion-item {
    background: #bbbaba73;
}

.position-container {
    grid-column: 1;
    grid-row: span 4;
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.player-position {
    align-content: center;
    color: #272727ad;
    font-size: .8rem;
    font-family: 'F1';
}

.bi-search-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0'/%3E%3C/svg%3E");
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: .5rem;
    top: 45%;
    position: absolute;
}

.accordion-button {
    background-color: var(--sidebar-top);
    color: #dcdcdc;
}

.accordion-button.collapsed {
    background-color: var(--sidebar-top);
    color: #dcdcdc;
}

.accordion-button:not(.collapsed) {
    background: var(--sidebar-bottom);
}

.accordion-button {
    display: grid;
    text-align: center;
}