.card.shadow-sm {
    color: inherit !important;
}

.text-muted-label, .team-name {
    color: #d6d6d6;
}

.text-muted-label {
    border-bottom: 1px solid #80808057;
    width: 80%;
}

.team-name {
    font-size: 1.25rem;
}

.border-stats {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.stats-result {
    color: rgb(178 135 25 / 92%) !important;
}

span.rz-legend-item-text {
    color: white;
}

.teams-page-container {
    margin-top: 2rem;
}

.stats-team-toggle {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.border-warning {
    border-color: rgb(111 83 0) !important;
}

.card-body {
    background: transparent;
}

.chart-scroll {
  overflow-x: auto;
}

.team-hint {
    color: #71717173;
    font-size: .6rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    font-style: italic;
}

.owner-avatar {
    box-shadow: unset;
}

.line-chart { width: 100%; min-width: 1100px; }

@media (max-width: 1199px) { .line-chart { min-width: 960px; } }
@media (max-width: 991px)  { .line-chart { min-width: 840px; } }
@media (max-width: 767px)  { .line-chart { min-width: 720px; } .text-muted-label { width: 90%; }}
@media (max-width: 599px)  { .line-chart { min-width: 600px; } .fw-semibold{ font-size: .7rem; } .text-muted-label { width: 100%; } }
@media (max-width: 479px)  { .line-chart { min-width: 520px; } }