.card.shadow-sm {
    color: inherit !important;
}

.text-muted-label, .team-name {
    color: #d6d6d6;
}

.team-name {
    font-size: 1.25rem;
}

.border-stats {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.fw-semibold {
    color: rgb(178 135 25 / 92%) !important;
}

span.rz-legend-item-text {
    color: white;
}

.teams-page-container {
    margin-top: 2rem;
}

.stats-team-toggle {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.border-warning {
    border-color: rgb(111 83 0) !important;
}

.card-body {
    background: transparent;
}

.stats-section {
    background: linear-gradient(135deg, rgb(230 244 255 / 5%) 0%, rgb(17 73 65 / 0.12) 65%, rgb(183 216 255 / 8%) 100%), 
                linear-gradient(315deg, rgb(230 244 255 / 20%) 0%, rgb(17 73 65 / 0.12) 65%, rgba(183, 216, 255, 0.10) 100%), 
                linear-gradient(225deg, rgb(230 244 255 / 20%) 0%, rgb(17 73 65 / 0.12) 65%, rgba(183, 216, 255, 0.10) 100%), 
                linear-gradient(46deg, rgb(230 244 255 / 20%) 0%, rgb(17 73 65 / 0.12) 65%, rgba(183, 216, 255, 0.10) 100%);
}

.chart-scroll {
  overflow-x: auto;
}

.line-chart { width: 100%; min-width: 1100px; }

@media (max-width: 1199px) { .line-chart { min-width: 960px; } }
@media (max-width: 991px)  { .line-chart { min-width: 840px; } }
@media (max-width: 767px)  { .line-chart { min-width: 720px; } }
@media (max-width: 599px)  { .line-chart { min-width: 600px; } .fw-semibold{ font-size: .7rem; } }
@media (max-width: 479px)  { .line-chart { min-width: 520px; } }