img.player-team-logo {
    position: absolute;
    top: .8rem;
}

.row.g-2.mt-1 {
    padding: .5rem;
    margin-top: 1.5rem !important;
}

.border-3.border.rounded.border {
    background: var(--dark-background);
    border-style: inset !important;
    box-shadow: 0 0rem 0.2rem #5a5a5a94;
}

.teams-container {
    width: 100%;
}

img.owner-avatar {
    max-width: 2.5rem;
}

button.page-link {
    background: transparent;
    color: inherit;
    border-color: var(--text);
}

.pagination .page-item.active .page-link,
.pagination .page-item.active > .page-link,
.pagination .page-item.active > button.page-link {
    background-color: #878787;
    color: #fff; 
}

.col-12.col-md-6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .teams-container {
        width: 75%;
    }
}

@media (min-width: 992px) {
    .teams-container {
        width: 60%;
    }
}