img.player-team-logo {
    position: absolute;
    top: .8rem;
}

.row.g-2.mt-1 {
    padding: .5rem;
    margin-top: 1.5rem !important;
}

.teams-container {
    width: 100%;
}

img.owner-avatar {
    max-width: 2.5rem;
}

button.page-link {
    background: transparent;
    color: inherit;
    border-color: var(--text);
}

.page-item:last-child .page-link {
  width: 3rem;
}

.page-item:first-child .page-link {
  width: 3rem;
}

.pagination .page-item.active .page-link,
.pagination .page-item.active > .page-link,
.pagination .page-item.active > button.page-link {
    background-color: #87878791;
}

.common-container {
    margin-top: 1rem;
}

.col-12.col-md-6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

span.text-center {
    background: rgb(1 168 204 / 14%);
    border: 1px solid;
    font-size: .55rem;
    margin-top: .1rem;
    border-radius: .3rem;
    padding: 3px;
    padding-left: 4px;
    padding-right: 4px;
    border-color: rgb(13 202 240 / 34%);
    font-family: 'F1';
    align-self: end;
}

@media (min-width: 768px) {
    .teams-container {
        width: 75%;
    }
}

@media (min-width: 992px) {
    .teams-container {
        width: 60%;
    }
}